html{
		 background-color:#5f6d84;
		 padding-top: 40px;
 		 padding-bottom: 40px;
		 height:100%;
		 width:100%;
      font-family: 'Hind', sans-serif;
      min-width:600px;
 	
	}
 body{
   background-color:#5f6d84;
   min-width:600px;
 }

div.container{
		text-decoration:none;
 		background-color: #eee;
    min-width:600px;
    padding-bottom:30px;
    
	
		
	}
.header h1 {
		text-align: center;
		text-decoration:none;
		color:black;
    font-family: 'Passion One', cursive;
    font-size:4em;
		
	}
 
.nav_bar{
  height:50px;
  display:inline;
  text-align:justify;
  



}
.header:hover{
    text-decoration:none;
}
a:hover{
		text-decoration:none;
		
	}
   ul{
	   text-align:justify;
       list-style-type: none;       
       padding: 0;
       overflow: hidden;
       background-color: #333;
       width:100%;
       margin:0 auto;
      }
    ul a{
    display:inline-block;
    text-align:center;
    margin:0 auto;
    width:100%;
    
    }

   /*li {
	     display:inline;
       
	   text-align:center;
       margin:0 auto;
	   
      }*/
   li a 
      {
      float:left;
      width:33.33%;
      margin:auto;
      display:inline-block;
	    text-align:center;       
      color: white;       
      padding: 14px 16px;
      text-decoration: none;
      }
   li a:hover 
      {
       background-color: #111;
       text-decoration: none;
      }
   img {
   	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:300px;
    width;
   :}
   .submit_button {
   	float: right;
   	margin-left:10px;
   }
   div.row{
   	padding-top:10px;	
   	padding-bottom:10px;
   }


   input.input{
	vertical-align:text-top;
	height:30px;
	margin-left:10px;



   }
   legend{
   	text-align:center;
   }

   label{
   	margin-right:2px;
   }
   #smallInput{
   width:40px;
   
   }
   a{
	   text-decoration:none;
     
   }

    #banner{
      height:260px;
      margin-top:-20px;
    
}

  #mainContainer{
    border:2px solid black;
    min-width:600px;
    padding:0px;
  
}
#footer{
  text-align:center;
  position:relative;
  bottom:0px;
  color:white;


}
